{% load static %}
{% load humanize %}
{% include 'header/header.html' %}

<div class="container-fluid mt-5 pt-4 test_continer ">
    <h5 class="text-center"><u>SALES PANEL</u></h5>

    <hr class="my-2" />
    <div class="card">

        <div class="row mt-3 px-3">
            <div class="col-lg-6 col-md-6   ">
                <form action="{% url 'delv_customer' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="nav-wrapperr position-relative end-0">
                                <ul class="nav  nav-fill bg-transparent" role="tablists">
                  
                                  <li class="nav-item ">
                                      <a class="nav-link mb-0 px-0 py-2 btn btn-md "style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);"  href="/sales">
                                          <i class="fa fa-home text-dark" ></i>
                                        <span class="ms-1 text-dark">Home</span>
                                      </a>
                                    </li>
                                </ul>
                            </div>   

                        </div>
                        <div class="col-md-4">
                            <div class="input-group bg-secondarys">
                                <input list="customerList" name="customer" class="form-select py-1 custom-button input-group" placeholder="Customer..." autocomplete="off">
                                <datalist id="customerList">
                                    {% for cus in customers %}
                                        <option value="{{cus.username}}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            
                        </div>


                        <div class="col-md-3">
                            <div class="form-group  has-success">
                                <select name="mode" id="" class="form-control py-1" required>
                                    <option disabled selected>Mode</option>
                                    {% for mode in modes %}
                                        <option value="{{mode.name}}">{{mode.name}}</option>
                                    {% endfor %}
                                </select>
                                <!-- <input type="text" placeholder="Invoice" name="invoice" class="form-control py-1 " required /> -->
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="nav-wrapperr position-relative end-0">
                                <ul class="nav  nav-fill bg-transparent" role="tablists">
                                  <li class="nav-item ">
                                    <button type="submit" class="nav-link mb-0 px-0 btn btn-md py-2"style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">
                                        <i class="fa fa-floppy-o text-dark" aria-hidden="true"></i>
                                        <span class="ms-1 text-dark">Save</span></button>
                                      
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
    
            <div class="col-md-3">
                
                <div class="row">
                    
    
                    <div class="col-4">
                        <div class="nav-wrapperr position-relative end-0">
                            <ul class="nav  nav-fill bg-transparent" role="tablists">
              
                              <li class="nav-item px-1">
                                  <!-- <a id="uploadButton" class="nav-link mb-0 px-0 btn btn-md  text-dark"style="box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);"  href="javascript:void(0);">
                                      <i class="fa fa-upload text-dark" ></i>
                                    <span class="ms-1 text-dark ">Upload</span>
                                  </a> -->
                              </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-7 mt-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="digital-number">{{ total|intcomma }}</div>
                            </div>
                            <div class="col-4 digital-number mt-2" style="font-size: 18px;"> QTY</div>
                        </div>
                    </div>
                    
                </div>
                
            </div>

            <div class="col-md-5 col-lg-3">
                
                <form action="{% url 'delvsub' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-7">
                            <div class="input-group">
                                <input
                                type="text"
                                class="form-control custom-input py-1"
                                placeholder="AssetId..."
                                aria-label="Search..."
                                aria-describedby="basic-addon-search31"
                                name="assetid"
                                autofocus
                                />
                            </div>
                            <button type="submit" class="d-none"></button>
                        </div>

                        <div class="col-5">

                            <div class="nav-wrapperr position-relative end-0">
                                <ul class="nav  nav-fill bg-transparent" role="tablists">
                  
                                    <li class="nav-item px-1">
                                        <a class="nav-link mb-0 px-0 py-2 btn btn-md p-2 text-dark"style="box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);"  href="/cleardelv">
                                            <i class="fa fa-trash text-dark" ></i>
                                            <span class="ms-1 text-dark ">Clear</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>


        </div>

        

        
        <form action="{% url 'delvout' %}" method="POST">
            {% csrf_token %}
            <div class="card-body ">

                <div class="row">
                    <div class="col-md-4 col-lg-4 d-none">
                        <div class="card">
                            <div class="card-body" style="height:60vh">
                                <div class=" " >
                                    {% for cus in d_customer %}
                                    <div class="row px-3">
                                        <div class="card-title">
                                            <h4 class="text-center">Customer</h4>
                                        </div>
                                        <div class="col-6">
                                            <label for="inputPassword3" class=" col-form-label " style="font-family: arial, arial, arial; font-size: 12px ">Customer</label>

                                            <div class="input-group">
                                                <input
                                                type="text"
                                                class="form-control custom-input py-1"
                                                placeholder="AssetId..."
                                                aria-label="Search..."
                                                aria-describedby="basic-addon-search31"
                                                name="username"
                                                value="{{cus.username}}"
                                                style="font-family: arial, arial, arial; font-size: 12px "
                                                 readonly
                                                />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label  class=" col-form-label" style="font-family: arial, arial, arial; font-size: 12px ">First name:</label>
                                            <div class="input-group">
                                                <input
                                                type="text"
                                                class="form-control custom-input py-1"
                                                placeholder="AssetId..."
                                                aria-label="Search..."
                                                aria-describedby="basic-addon-search31"
                                                name="fname"
                                                value="{{cus.fname}}"
                                                style="font-family: arial, arial, arial; font-size: 12px "
                                                 readonly
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-6">
                                            <label for="inputPassword3" class=" col-form-label" style="font-family: arial, arial, arial; font-size: 12px ">Phone</label>
                                            <div class="input-group">
                                                <input
                                                type="text"
                                                class="form-control custom-input py-1"
                                                placeholder="AssetId..."
                                                aria-label="Search..."
                                                aria-describedby="basic-addon-search31"
                                                name="phone"
                                                style="font-family: arial, arial, arial; font-size: 12px "
                                                value="{{cus.phone}}"
                                                 readonly
                                                />
                                            </div>
                                            
                                        </div>
                                        <div class="col-6">
                                            <label for="inputPassword3" class=" col-form-label" style="font-family: arial, arial, arial; font-size: 12px ">Last name:</label>
                                            <div class="input-group">
                                                <input
                                                type="text"
                                                class="form-control custom-input py-1"
                                                placeholder="AssetId..."
                                                aria-label="Search..."
                                                aria-describedby="basic-addon-search31"
                                                name="lname"
                                                style="font-family: arial, arial, arial; font-size: 12px "
                                                value="{{cus.lname}}"
                                                 readonly
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-6">
                                            <label  class=" col-form-label " style="font-family: arial, arial, arial; font-size: 12px ">Email</label>
                                            <div class="input-group">
                                                <input
                                                type="text"
                                                class="form-control custom-input py-1"
                                                placeholder="AssetId..."
                                                aria-label="Search..."
                                                aria-describedby="basic-addon-search31"
                                                name="email"
                                                style="font-family: arial, arial, arial; font-size: 12px "
                                                value="{{cus.email}}"
                                                 readonly
                                                />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label for="inputPassword3" class="col-form-label" style="font-family: arial, arial, arial; font-size: 12px " >Location</label>
                                            <div class="input-group">
                                                <input
                                                type="text"
                                                class="form-control custom-input py-1"
                                                placeholder="AssetId..."
                                                aria-label="Search..."
                                                aria-describedby="basic-addon-search31"
                                                name="location"
                                                style="font-family: arial, arial, arial; font-size: 12px "
                                                value="{{cus.location}}"
                                                 readonly
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-6">
                                            <label  class=" col-form-label " style="font-family: arial, arial, arial; font-size: 12px ">Delivery_no:</label>
                                            <div class="input-group">
                                                <input
                                                type="text"
                                                class="form-control custom-input py-1"
                                                placeholder="AssetId..."
                                                aria-label="Search..."
                                                aria-describedby="basic-addon-search31"
                                                name="invoice"
                                                style="font-family: arial, arial, arial; font-size: 12px "
                                                value="{{cus.mode}}"
                                                 readonly
                                                />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label  class=" col-form-label " style="font-family: arial, arial, arial; font-size: 12px ">ID_No.</label>
                                            <div class="input-group">
                                                <input
                                                type="text"
                                                class="form-control custom-input py-1"
                                                placeholder="AssetId..."
                                                aria-label="Search..."
                                                aria-describedby="basic-addon-search31"
                                                name="id_no"
                                                style="font-family: arial, arial, arial; font-size: 12px "
                                                value="{{cus.id_no}}"
                                                 readonly
                                                />
                                                <input type="hidden" name="mode" id="" value="{{cus.mode}}">
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card">
                            <div class="row mt-1">
                                {% if d_customer %}
                                {% for customer in d_customer %}

                                <div class="col-md-5 col-lg-5">
                                    <div class="nav-wrapperr position-relative end-0">
                                        <ul class="nav  nav-fill bg-transparent" role="tablists">
                                          <li class="nav-item ">
                                            <button type="submit" class="nav-link mb-0 px-0 btn btn-md"style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); padding: right 10px;">
                                                <i class="fa fa-user text-dark" aria-hidden="true"></i>
                                                <span class="ms-1 text-dark">{{customer.username}}</span></button>
                                              
                                            </li>

                                            <li class="nav-item ">
                                                <button type="submit" class="nav-link mb-0 px-0 btn btn-md"style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); padding: right 10px;">
                                                    <i class="fa fa-id-card text-dark" aria-hidden="true"></i>
                                                    <span class="ms-1 text-dark">{{customer.mode}}</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {%endfor%}
                                {%else%}
                                <div class="col-md-5 col-lg-5"></div>
                                {%endif%}
                                <div class="col-md-2 col-lg-2"></div>
                                <div class="col-md-2 col-lg-2">
                                    <input type="date" name="datedelivered" class="form-control py-1 " id="">
                                </div>
                                <div class="col-md-3 col-lg-3 px-3">
                                    <div class="nav-wrapperr position-relative end-0">
                                        <ul class="nav  nav-fill bg-transparent" role="tablists">
                                          <li class="nav-item ">
                                            <button type="submit" class="nav-link mb-0 px-0 btn btn-md"style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); padding: right 10px;">
                                                <i class="fa fa-plus-circle text-dark" aria-hidden="true"></i>
                                                <span class="ms-1 text-dark">Create</span></button>
                                              
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2 pt-2 mb-2">
                                <div class="col-12">
                                    <div class="card " style="background-color: blue-900;">
                                        <div class="card-body">
                                            <div class="row">
                                                {% for total in totals %}
                                                    <div class="col-1 justify-content-between">
                                                        <div>
                                                            <p class="statistics-title font-weight-bold" style="font-size: 10px;">{{total.name}}</p>
                                                            <h4 class="rate-percentage digital-number text-dark " style="font-size: 30px;" id="counter-{{ forloop.index }}" data-target="{{ total.total | intcomma }}">{{ total.total|intcomma }}</h4>
        
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="card ">
                                        <div class="card-body">
                                            <div class="row" id="data-content">
                                                <div class="col-xs-12 ">
                                                <div class="statistics-details d-flex align-items-center justify-content-between">
        
                                                    {% for total in totals %}
                                                        <div>
                                                            <p class="statistics-title">{{total.name}}</p>
                                                            <h4 class="rate-percentage" id="counter-{{ forloop.index }}" data-target="{{ total.total | intcomma }}">{{ total.total|intcomma }}</h4>
        
                                                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span></span></p>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div> -->

                                </div>
                            </div>



                            <div class="card-body">
                                <div class="table-responsive tbl-content text-nowrap tbl-content" style="height:52vh">
                                    <table class="table table-bordered table-responsive table-hover text-xls table-sm ">
                                        <thead  style="background-color: #87bad4; ">
                                            <tr class="my-1 text-align text-xls" >
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" ></th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Item</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Serial No.</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Model</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >CPU</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Ram</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Hdd</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Date Rcvd</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Supplier</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >% VAT</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Unit Price</th>
                                                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Sub Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in products %}
                                            <tr style="font-size: 11px">
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">
                                                    <div class="nav-wrapperr position-relative end-0">
                                                        <ul class="nav  nav-fill p-1 bg-transparent" role="tablists">
                        
                                                            <li class="nav-item px-1">
                                                                <a class="nav-link mb-0 px-0 py-1 btn btn-md"style="box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);"  href="/delete_delivery/{{user.id}}">
                                                                    <i class="fa fa-trash text-danger" ></i>
                                                                  <span class="ms-1 text-dark"></span>
                                                                </a>
                                                              </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.type |default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.serialno |default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.model |default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.cpu |default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.ram |default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.hdd |default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.daterecieved |default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.supplier.username |default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.vat |intcomma|default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.price |intcomma|default_if_none:""  }} </td>
                                                <td class ="text-dark py-1 custom-letter-spacing  text-xs ">{{user.sub_total |intcomma|default_if_none:""  }}</td>
                                                
                                            </tr>
                                            {% endfor %}
                        
                                        </tbody>
                                    </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>


<script>

document.getElementById('uploadButton').addEventListener('click', async function() {
    const result = await Swal.fire({
        title: 'Upload CSV',
        html: `
            <div class="row" style="margin: 0;">
                <div class="col-12" style="padding: 5px;">
                    <input type="file" id="swalFileInput" class="form-select form-control" accept=".csv">
                </div>
                
            </div>
            <div style="margin-top: 1px; display: none;" id="progressContainer">
                <div class="progress" style="height: 1px;">
                    <div id="uploadProgressBar" class="progress-bar" role="progressbar" style="width: 0%; background-color: #44a4d4;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        `,
        showCancelButton: true,
        confirmButtonText: 'Upload',
        allowOutsideClick: false,
        preConfirm: async () => {
            const file = document.getElementById('swalFileInput').files[0];

            if (!file) {
                Swal.showValidationMessage("Please select a file.");
                return;
            }

            const formData = new FormData();
            formData.append('file', file);
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            formData.append('csrfmiddlewaretoken', csrfToken);

            const progressContainer = document.getElementById('progressContainer');
            if (progressContainer) {
                progressContainer.style.display = 'block'; // Show the progress bar container
            }

            // Pseudo-progress bar update
            let progress = 0;
            const intervalId = setInterval(() => {
                if (progress < 95) {
                    progress += 2; // Increase by 2% 
                    const progressBar = document.getElementById('uploadProgressBar');
                    if (progressBar) {
                        progressBar.style.width = progress + '%';
                        progressBar.setAttribute('aria-valuenow', progress);
                    }
                }
            }, 250); // Update every 250ms


            try {
                const response = await fetch("{% url 'delvcsv' %}", {
                    method: 'POST',
                    body: formData
                });
                clearInterval(intervalId); // Stop the fake progress
                const progressBar = document.getElementById('uploadProgressBar');
                if (progressBar) {
                    progressBar.style.width = '100%';
                    progressBar.setAttribute('aria-valuenow', 100);
                }


                if (!response.ok) {
                    console.log(response)
                    console.log(data.message)
                    const data = await response.json();
                    throw new Error(data.message || 'Something went wrong.');
                }

                location.reload();
            } catch (error) {
                clearInterval(intervalId);
                Swal.showValidationMessage(error.message || 'Something went wrong.');
            }
        }
    });
});

</script>
    

{% include 'header/footer.html' %}
