{% load static %}
{% load humanize %}
{% load mathfilters %}

{% include 'header/header.html' %}

<style>
    .button-clicked {
        box-shadow: none !important;
    }
    .elevated {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Example shadow for elevation effect */
}
</style>

<div class="container-fluid mt-5 pt-4 test_continer ">
    <h4 class="text-center"><u>STOCKIN PANEL</u></h4>
    <hr class="my-1" />
    <div class="row px-3 border-bottom">
        <div class="col-lg-1 col-md-1  ">
            <div class="nav-wrapperr position-relative end-0" id="hidden-content">
              <ul class="nav  nav-fill p-2 bg-transparent" role="tablists">
                <li class="nav-item px-1">
                    <a class="nav-link mb-0 px-0 py-1 btn btn-md p-2"style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);"  href="/stockin"  aria-selected="false">
                        <i class="fa fa-home text-dark text-xxs font-weight-bolder opacity-10 text-uppercase" aria-hidden="true"></i>
                        <span class="ms-1 text-dark text-xxs font-weight-bolder opacity-10 text-uppercase">Home</span>
                    </a>
                </li>
                
              </ul>
            </div>
        </div>
    </div>


        <div class="row mt-2 pt-2">

            <div class="col-md-5 px-4">
                <form action="/naration_sub/" method="POST">
                    {% csrf_token %}
                    <div class="row ">
                        <div class="col-3">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Suppliers</small></label>
                            <select name="supplier"   class="form-select form-control py-1" required>
                                <option disabled>Suppliers</option>
                                {% for vendor in suppliers %}
                                    <option value="{{vendor.username}}">{{vendor.username}}</option>
                                {%endfor %}
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Naration</small></label>
                            <input type="text" name="naration"  class="form-control py-1" placeholder="Naration" required>
                        </div>
                        <div class="col-2">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Amount</small></label>
                            <input type="number" name="amount"  class="form-control py-1" placeholder="KES /=" required>
                        </div>
                        <div class="col-2">
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="nav-wrapperr position-relative end-0">
                                <ul class="nav  nav-fill bg-transparent" role="tablists">
                                    <li class="nav-item ">
                                    <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small></small></label>
                                    <button type="submit" class="nav-link mb-0 px-0 btn btn-md "style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">
                                        <i class="fa fa-floppy-o text-dark text-xxs font-weight-bolder opacity-10 text-uppercase" aria-hidden="true"></i>
                                        <span class="ms-1 text-dark text-xxs font-weight-bolder opacity-10 text-uppercase" >Save</span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 mt-4">
                            <label for="" class="text-xxs font-weight-bolder opacity-10 text-uppercase">BALANCE:</label>
                        </div>
                        <div class="col-md-3 mt-4">
                            <input type="text" name=""  class="form-control py-1" readonly placeholder="KSH 0/=" value=" KES {{balance| intcomma}}/=">
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-3">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Serial No.</small></label>
                            <input type="text" class="form-control py-1" name="serialno"  placeholder="S/No." autofocus required>
                        </div>

                        <div class="col-2">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Item</small></label>
                            <select name="types"  class="form-select form-control py-1">
                                <option disabled>Item</option>
                                {%for item in items%}
                                    <option value="{{item.type}}">{{item.type}}</option>
                                {%endfor %}
                            </select>
                        </div>
                        
                        <div class="col-2">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Model</small></label>
                            <input type="text" class="form-control py-1" name="model"  placeholder="Model">
                        </div>
                        <div class="col-3">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Cpu</small></label>
                            <select name="cpu"  class="form-select form-control py-1">
                                <option disabled>Cpu</option>
                                {%for cpu in cpus|dictsort:"cpu" %}
                                    <option value="{{cpu.cpu}}">{{cpu.cpu}}</option>
                                {%endfor %}
                            </select>
                        </div>
                        
                        <div class="col-2">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Ram</small></label>
                            <select name="ram"  class="form-select form-control py-1">
                                <option disabled>Ram</option>
                                {%for ram in rams|dictsort:"ram" %}
                                    <option value="{{ram.ram}}">{{ram.ram}}</option>
                                {%endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        
                        <div class="col-3">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Hdd</small></label>
                            <select name="hdd"  class="form-control form-select py-1">
                                <option disabled>Hdd</option>
                                {% for hdd in hdds|dictsort:"hdd" %}
                                    <option value="{{hdd.hdd}}">{{hdd.hdd}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-3">
                            <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small>Price</small></label>
                            <input type="text" class="form-control py-1" name="price"  placeholder="price">
                        </div>
                        <div class="col-3">
                            <div class="nav-wrapperr position-relative end-0">
                                <ul class="nav  nav-fill bg-transparent" role="tablists">
                                    <li class="nav-item ">
                                    <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small></small></label>
                                    <button type="button" class="nav-link mb-0 px-0 btn btn-md py-2 scan-more-button" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">
                                        <i class="fa fa-hand-o-right text-dark text-xxs font-weight-bolder opacity-10 text-uppercase" aria-hidden="true"></i>
                                        <span class="ms-1 text-dark text-xxs font-weight-bolder opacity-10 text-uppercase" >Scan More</span>
                                    </button>
                                    
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="nav-wrapperr position-relative end-0">
                                <ul class="nav  nav-fill bg-transparent" role="tablists">
                                    <li class="nav-item ">
                                    <label for="" style="margin-bottom: 0;" class="text-xxs font-weight-bolder opacity-10 text-uppercase"><small></small></label>
                                    <button type="submit" class="nav-link mb-0 px-0 btn btn-md py-2"style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);">
                                        <i class="fa fa-floppy-o text-dark text-xxs font-weight-bolder opacity-10 text-uppercase" aria-hidden="true"></i>
                                        <span class="ms-1 text-dark text-xxs font-weight-bolder opacity-10 text-uppercase" >Save</span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    <hr class="my-2">

    <div class="card-body">
        <div class="table-responsive tbl-content text-nowrap tbl-contents" style="height: 45vh;">
        <table class="table table-bordered table-responsive table-hover text-xls table-sm " >
          <thead  style="background-color: #849bbf;"
          >
            <tr class="my-1 text-align text-xls" >
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" ></th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Item</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Serial No.</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Model</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >CPU</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Ram</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Hdd</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Date Rcvd</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Supplier</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >% VAT</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Unit Price</th>
                <th class="text-dark th-style text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold" >Sub Total</th>
            </tr>
        </thead>
            <tbody>
              

            {% for user in products %}
                <tr style="font-size: 11px">
                    <td class ="text-dark custom-letter-spacing  text-xs">
                        <a href="/delete_templist/{{user.id}}" class="btn-outline-primary px-2 my-3"  class="overlay" >
                            <i class="bi bi-trash text-sm opacity-10" aria-hidden="true"></i>
                        </a>
                       
                    </td>                        
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.type |default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.serialno |default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.model |default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.cpu |default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.ram |default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.hdd |default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.daterecieved |default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.supplier.username |default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.vat |intcomma|default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs">{{user.price |intcomma|default_if_none:""  }} </td>
                    <td class ="text-dark py-1 custom-letter-spacing  text-xs ">{{user.sub_total |intcomma|default_if_none:""  }}</td>
                </tr>
          
            </tbody>
            {% endfor %}

            {% if products %}
            <tfoot>
                <tr>
                    <td colspan="12" class="text-dark  py-3 text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold text-right"></td>

                </tr>

                <tr>
                    <td colspan="7" class="text-dark th-style  py-2 text-xxs font-weight-bolder opacity-10 text-uppercase font-weight-bold text-right">Totals:</td>
                    <td class="text-dark py-1 th-style text-xxs custom-letter-spacing font-weight-bolder text-lg"><a href="/clear_templist" class="bi bi-trashs">clear</a></td>
                    <td class="text-dark py-1 th-style text-xxs custom-letter-spacing text-xs font-weight-bolder"><a href="/push_templist" class="bi bi-arrow-ups">Push</a></td>
                    <td class="text-dark py-1 th-style text-xxs custom-letter-spacing text-xs font-weight-bolder" >{{ total_vat|intcomma }}</td>
                    <td class="text-dark py-1 th-style text-xxs custom-letter-spacing text-xs font-weight-bolder">{{ total_price|intcomma }}</td>
                    <td class="text-dark py-1 th-style text-xxs custom-letter-spacing text-xs font-weight-bolder">{{ total_sub_total|intcomma }}</td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
        </div>

    </div>


</div>

<script>
    document.querySelector('.scan-more-button').addEventListener('click', function() {
    let isScanning = localStorage.getItem('isScanning');
    
    if (!isScanning || isScanning === "false") {
        // Setting data to local storage and lowering the button elevation
        localStorage.setItem('supplier', document.querySelector('[name="supplier"]').value);
        localStorage.setItem('naration', document.querySelector('[name="naration"]').value);
        localStorage.setItem('types', document.querySelector('[name="types"]').value);
        localStorage.setItem('model', document.querySelector('[name="model"]').value);
        localStorage.setItem('cpu', document.querySelector('[name="cpu"]').value);
        localStorage.setItem('ram', document.querySelector('[name="ram"]').value);
        localStorage.setItem('hdd', document.querySelector('[name="hdd"]').value);
        localStorage.setItem('price', document.querySelector('[name="price"]').value);
        
        this.style.boxShadow = 'none'; // Lowering the button's elevation
        
        localStorage.setItem('isScanning', true);
    } else {
        // Clearing the local storage and resetting the button's elevation
        clearLocalStorageAfterSave();
        this.style.boxShadow = '2px 2px 4px rgba(0, 0, 0, 0.1)'; // Resetting the button's elevation
        
        localStorage.setItem('isScanning', false);
    }
});

document.addEventListener('DOMContentLoaded', function() {

    // let cumulativeSum = 0;

    // // Get all the price cells
    // const priceCells = document.querySelectorAll('td:nth-child(11)');

    // priceCells.forEach((priceCell, index) => {
    //     let price = parseFloat(priceCell.textContent.trim()) || 0; // Convert the price to a number, defaulting to 0 if not a number
    //     cumulativeSum += price;

    //     // Setting the cumulative sum to the corresponding cell in the next column
    //     document.querySelectorAll('td.cumulative-price')[index].textContent = cumulativeSum.toFixed(2); // Assuming 2 decimal places
    // });

    if (localStorage.getItem('supplier')) {
        document.querySelector('[name="supplier"]').value = localStorage.getItem('supplier');
    }
    if (localStorage.getItem('naration')) {
        document.querySelector('[name="naration"]').value = localStorage.getItem('naration');
    }
    if (localStorage.getItem('types')) {
        document.querySelector('[name="types"]').value = localStorage.getItem('types');
    }
    if (localStorage.getItem('model')) {
        document.querySelector('[name="model"]').value = localStorage.getItem('model');
    }
    if (localStorage.getItem('cpu')) {
        document.querySelector('[name="cpu"]').value = localStorage.getItem('cpu');
    }
    if (localStorage.getItem('ram')) {
        document.querySelector('[name="ram"]').value = localStorage.getItem('ram');
    }
    if (localStorage.getItem('hdd')) {
        document.querySelector('[name="hdd"]').value = localStorage.getItem('hdd');
    }
    if (localStorage.getItem('price')) {
        document.querySelector('[name="price"]').value = localStorage.getItem('price');
    }
});

function clearLocalStorageAfterSave() {
    localStorage.removeItem('supplier');
    localStorage.removeItem('naration');
    localStorage.removeItem('types');
    localStorage.removeItem('model');
    localStorage.removeItem('cpu');
    localStorage.removeItem('ram');
    localStorage.removeItem('hdd');
    localStorage.removeItem('price');
}


</script>


{% include 'header/footer.html' %}